.pagination-container{

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-top:60px;

    margin-bottom:20px;
}

/* Pagination Root */

.MuiPagination-root{

    display:flex;

    justify-content:center;
}

/* Buttons */

.MuiPaginationItem-root{

    color:#ffffff !important;

    background:#101827 !important;

    border:1px solid rgba(255,255,255,.08) !important;

    border-radius:12px !important;

    transition:.35s !important;

    font-weight:600 !important;
}

/* Hover */

.MuiPaginationItem-root:hover{

    background:#1E88FF !important;

    color:white !important;

    transform:translateY(-2px);

    box-shadow:0 0 20px rgba(30,136,255,.45);
}

/* Selected */

.Mui-selected{

    background:#1E88FF !important;

    color:white !important;

    box-shadow:0 0 20px rgba(30,136,255,.6);
}

/* Prev Next */

.MuiPaginationItem-previousNext{

    color:white !important;
}

/* Dots */

.MuiPaginationItem-ellipsis{

    color:#7d92b6 !important;
}

/* Mobile */

@media(max-width:768px){

.pagination-container{

    margin-top:40px;

    padding:0 10px;
}

.MuiPagination-ul{

    justify-content:center;

    flex-wrap:wrap;

    row-gap:10px;
}

.MuiPaginationItem-root{

    min-width:38px !important;

    height:38px !important;

    font-size:14px !important;
}

}